<div *ngIf='!selected'>
<h1>Featured Countries</h1>
<label for="keyword"></label>
<input type="text" name="keyword" [(ngModel)]="keyword">
<button (click)="searchCountry(keyword)">Search</button>
<ul *ngIf='!selected'>
  <li *ngFor='let country of countries' (click)="selectCountry(country)">
    {{country.name}}
  </li>
</ul>
</div>

<div *ngIf = 'selected'>
  <h1>{{selected.name}}</h1>
  <h3>{{selected.description}}</h3>
  <button (click) = 'back()'>Back</button>

 <h3>PICTURES</h3>
<ul>
  <li *ngFor='let picture of pictures'>
    {{picture.imageUrl}}
  </li>
</ul>
</div>

