.countryheader {
  text-align: center;
  margin: 30px;
}

.countryDiv {
  border: 1px solid black;
  margin-bottom: 30px;
}

.divTitle {
  margin: 10px;
}

.adviceTable tr td {
  margin: 10px;
  border: 1px solid black;
}

.countryImage{
  width: 100%;
  height: 600px;
}

.carouselImageDiv {
  text-align: center;
  margin-bottom: 150px;
  height: 600px;

}

.testingthis{
  height: 600px !important;
}

.carouselDiv {
  height: 600px !important;
  margin-bottom: 30px;
}

.countryPageDiv {
  padding-bottom: 70px;
}

.commentRow {
  border: 1px solid lightgrey;
  margin: 0px 10px;
  padding: 5px;
}

.responseContent {
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

}

ngb-carousel:focus {
  outline: none;
}

.responseUser {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-right: 25px;
}

.responseCrud {
  margin-left: -26px;
  border-left: 1px solid white;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-right: 25px;
}

.commentDiv {
  margin-bottom: 10px;
}

.carousel-item {
  height: 600px !important;
}

.crudIcon {
  height: 15px;
  background-color: white;
}

.formInputText {
  width: 100%;
}


.countryCard {
  width: 300px;
  height: 300px;
  display: flex;
  color: white;
  text-align: center;
}

.countryCard h2 {
  padding-top: 40%;
  padding-left: 5px;
  padding-right: 5px;

}

.countryCard h4 {
  align-self: self-end;
  text-align: right;
  padding: 10px 20px;
}

.countryDefaultImg {
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 10%;
  display: grid;
  grid-template-columns:repeat(2)
}

.featuredCountryRow {
  margin: 20px 0px;
}

.responseTitleRow {
  margin-right: -5px;
  background-color: #f2f2f2;
  padding: 3px;
}

.specialCrudIcon {
  margin-left: 15px;
  margin-top: 5px;
  height: 20px;
}

.responseFormRow {
  margin-left: auto;
}


