
<!-- HTML SECTION FOR FEATURED COUNTRIES PAGE -->
<div *ngIf='!selected'>
<h1>Featured Countries</h1>
<label for="keyword"></label>
<input type="text" name="keyword" [(ngModel)]="keyword">
<button (click)="searchCountry(keyword)">Search</button>
<ul *ngIf='!selected'>
  <li *ngFor='let country of countries' (click)="selectCountry(country)">
    {{country.name}}
  </li>
</ul>
</div>

<!-- HTML SECTION FOR SINGLE COUNTRY SELECTION -->
<div *ngIf = 'selected' class="countryPageDiv">
  <div class="countryheader">
    <h1>{{selected.name}}</h1>
    <h3>{{selected.description}}</h3>
  </div>

  <!-- Advice Div -->
  <div class="countryDiv container" >
    <h4 class="divTitle">Travel Requirements</h4>
    <table class="table table-striped adviceTable">
      <tbody class="tbody">
        <tr *ngFor= 'let ad of advice'>
          <td >{{ad.name}}:</td>
          <td >{{ad.description}} <span><a href="{{ad.adviceUrl}}">(More Info)</a></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Picture div -->
  <div class="container pictureDiv">

    <ngb-carousel class="carouselDiv">
      <ng-template ngbSlide *ngFor="let picture of pictures" >

        <div class="picsum-img-wrapper carouselImageDiv">
          <img class="countryImage" [src]="picture.imageUrl" alt="...">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <!-- Comments div -->
  <div class="container countryDiv">
    <h4>Comments</h4>
    <div *ngFor="let comment of comments" class="commentDiv">
      <div *ngIf="!comment['originalComment']">
        <div class="row commentRow" >
          <div class="col-10 ">{{comment['content']}}</div>
          <div class="col">{{comment['user']['username']}}</div>
        </div>
        <div class="row " *ngFor="let response of comment['responses']">
          <div class="col-1"></div>
          <div class="col responseContent">{{response['content']}}</div>
          <div class="col-2 responseUser">{{response['user']['username']}}</div>
        </div>
      </div>
    </div>
  </div>


</div>

