html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navbar {
  background-color: #002D0B !important;
}

footer {
  background-color: #002D0B !important;
  height: 75px !important;
  color: white;

}

#footer-text {
text-align: center !important;
}

main {
  margin-top: 10px;
}

a {

}
/*

Light grey background:
background-color: #EDEDED;

Light green: #64dd17;
Dark green: #002D0B;
*/
