html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.navbar {
  background-color: #002D0B !important;
}

/*

Light grey background:
background-color: #EDEDED;

Dark green: #002D0B;
*/
