<h2>Log In</h2>
<form>
  <div class="form-group form-inline">
    <label for="username">Username: </label>
    <input
      class="form-control ml-3"
      type="text"
      name="username"
      id="username"
      [(ngModel)]="user.username"
    />
  </div>
  <div class="form-group form-inline">
    <label for="password">Password</label>
    <input
      class="form-control ml-3"
      type="password"
      name="password"
      id="password"
      [(ngModel)]="user.password"
    />
  </div>
  <button class="btn btn-success" type="submit" (click)="login(user)">
    Log In
  </button>
</form>
