


<div *ngIf="selected">
  <p>{{selected.email}}</p>


</div>
<!-- <p *ngFor="let user of users" (click)="loadUser(user.id)">{{user.username}}</p> -->
<!--
<table class="table">
  <thead>
    <tr>
      <th >User Information</th>

    </tr>
    <th scope="col">User ID</th>
    <th scope="col">Username</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">User Info</th>
    <th></th>

  </thead>

</table> -->

  <div class="accordion" id="accordionExample">
    <table class="table">
      <thead>
        <tr>
          <th >User Information</th>

        </tr>
        <th scope="col">User ID</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">User Info</th>
        <th></th>

      </thead>

    <!-- </table> -->
      <div *ngFor="let user of users" class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">

              <!-- <table class="table"> -->
                <tr scope="row">
              <td >{{user.id}}</td>
              <td> {{user.username}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>

              <button (click)="loadUser(user.id)" class="btn btn-primary collapsed" type="button" data-toggle="collapse show" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              View User
              </button>
            </tr>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"  data-parent="#accordionExample">
            <div class="card-body">
                <table>
                  <thead>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>is Activated</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{user.role}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.dob}}</td>
                      <td>{{user.enabled}}</td>

                      <div *ngIf="user.enabled">
                      <button class="btn btn-primary" type="submit" (click)="deleteUser(user.id)">Deactivate</button>
                      </div>

                      <div *ngIf="!user.enabled">
                      <button *ngIf="user.enabled == false" class="btn btn-primary" type="submit" (click)="enableUser(user)">Activate</button>
                      </div>

                      <button class="btn btn-primary" type="submit" (click)="updateUser(user)">update</button>

                    </tr>
                  </tbody>
                </table>
            </div>
            </div>

            </h2>
            </div>
            </div>
 </table>









