<div class="context">
  <div class="area">


    <div id="body" class="container my-4 rounded-lg">
      <div id="headPic">
        <h3 class="font-weight-bold"> As an Admin you can view, edit, deactivate, and activate other users profile
          information
        </h3>

        <hr>
        <h3 class="font-weight-bold">User Information</h3>
      </div>

      <!-- Accordion wrapper -->
      <div *ngFor="let user of users" class="accordion md-accordion accordion-blocks" [id]="'mainaccordion'+user.id"
        role="tablist" aria-multiselectable="true">

        <!-- Accordion Card -->
        <div class="card">

          <!-- Card header -->
          <div class="card-header" role="tab" [id]="'headaccordion'+user.id">

            <!-- Options -->
            <div class="dropdown float-left">
              <button class="btn btn-info btn-sm m-0 mr-3 p-2 dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-pencil-alt"></i>
              </button>
              <!-- drop down -->
              <div class="dropdown-menu dropdown-info">
                <!-- TODO add update functionality ************************** -->
                <a class="dropdown-item" href="">Update</a>
              </div>
            </div>

            <!-- Heading -->
            <!-- TODO add get user info ********************** -->
            <a data-toggle="collapse" [attr.data-parent]="'#mainaccordion'+user.id" [href]="'#tailaccordion'+user.id"
              aria-expanded="true" [attr.aria-controls]="'tailaccordion'+user.id">
              <h5 class="mt-1 mb-o">
                <div *ngIf="user.firstName == null">
                  <p>Test User</p>
                </div>
                <span>{{user.firstName}} {{user.lastName}}</span>
                <i class="fa fa-angle-down rotate-icon"></i>
              </h5>
            </a>

          </div>



          <!-- Card Body -->
          <div class="collapse" [id]="'tailaccordion'+user.id" role="tabpanel"
            [attr.aria-labelledby]="'accordion'+user.id" [attr.data-parent]="'#mainaccordion'+user.id">
            <div class="card-body">


              <div class="card text-center">
                <h4 class="card-header bg-info">
                  Travelers Information
                </h4>
              </div>

              <!-- user information here with option to edit -->
              <div class="table-ui p-2 mb-3 mx-3 mb-4">

                <div class="row">

                  <div class="col-xl-4 col-lg-6 col-md-12"></div>

                  <table class="table">
                    <thead class="table-primary">
                      <th>Name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Active</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.enabled}}</td>
                      </tr>
                    </tbody>
                    <thead class="table-primary">
                      <th>Role</th>
                      <th>DOB</th>
                      <th>Created Date</th>
                      <th>Updated Date</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{user.role}}</td>
                        <td>{{user.dob}}</td>
                        <td>{{user.createDate}}</td>
                        <td>{{user.updateDate}}</td>
                      </tr>
                    </tbody>
                  </table>


                </div>
              </div>
              <!--*** FORM FOR USER EDIT *** -->
              <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                  aria-expanded="false" aria-controls="collapseExample">
                  Update User
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <form>
                    <!--*** FORM ROW 1 ***-->
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label>First Name</label><br>
                        <input type="text" name="firstName" placeholder="First" [(ngModel)]='newUser.firstName'>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Middle Name</label><br>
                        <input type="text" name="middleName" placeholder="Middle" [(ngModel)]='newUser.middleName'>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Last Name</label><br>
                        <input type="text" name="lastName" placeholder="Last" [(ngModel)]='newUser.lastName'>
                      </div>
                    </div>
                    <!--*** FORM ROW 2 ***-->
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label>Email</label><br>
                        <input type="text" name="email" placeholder="email" [(ngModel)]='newUser.email'>
                      </div>
                      <div class="form-group col-md-4">
                        <label>User Created</label><br>
                        <input type="text" name="createdDate" placeholder="mm/dd/yyyy" [(ngModel)]='newUser.createDate'>
                      </div>
                      <div class="form-group col-md-4">
                        <label>User Updated</label><br>
                        <input type="text" name="updatedDate" placeholder="mm/dd/yyyy" [(ngModel)]='newUser.updateDate'>
                      </div>
                    </div>
                    <!--*** FORM ROW 3 ***-->
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label>Date of Birth</label><br>
                        <input type="text" name="dob" placeholder="dob" [(ngModel)]='newUser.dob'>
                      </div>
                      <div class="form-group col-md-4">
                        <label>Role</label><br>
                        <input type="text" name="role" placeholder="role" [(ngModel)]='newUser.role'>
                      </div>
                      <div>
                        <label>Username</label><br>
                        <input type="text" name="username" placeholder="username" [(ngModel)]='newUser.username'>
                      </div>

                      <!--*** FORM ENABLE ***-->
                      <div class="form-group col-md-4">
                        <!-- <input type="text" name="enabled" placeholder="enabled" [(ngModel)]='newUser.enabled'> -->

                        <div *ngIf="user.enabled">
                          <button class="btn btn-danger" type="submit" (click)="deleteUser(user.id)">Deactivate</button>
                        </div>
                        <div *ngIf="!user.enabled">
                          <button *ngIf="user.enabled == false" class="btn btn-danger" type="submit"
                            (click)="enableUser(user)">Activate</button>
                        </div>

                      </div>
                    </div>

                    <!--*** FORM SUBMIT BUTTON ***-->
                    <button class="btn btn-danger" type="submit" (click)="updateUser(user)">Submit</button>

                    <button class="btn btn-primary" (click)="newUser = null">Cancel</button>

                  </form>
                </div>
              </div>

              <!--*** COMMENT SECTION ***-->
              <div class="card text-center">
                <h4 class="card-header bg-info">
                  Comment Review
                </h4>
              </div>
              <div>

              </div>
              <!-- Table responsive wrapper  -->
              <div class="table-ui p-2 mb-3 mx-3 mb-4">
                <div class="table table-hover mb-o">
                  <!-- Table -->
                  <table class="table">

                    <!-- Table Head -->
                    <!-- Listing comments -->
                    <thead class="table-primary">
                      <tr>

                        <th class="th-lg"><a>Comment<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a>Created<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a>Update<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a>Enabled<i class="fas fa-sort ml-1"></i></a></th>
                      </tr>
                    </thead>
                    <!-- Table Head End-->

                    <!-- Table Body -->


                    <!-- Comment Loop  -->
                    <tbody *ngFor="let comment of user['comments']">
                      <tr>

                        <td>{{comment.content}}</td>
                        <td>{{comment.createDate}}</td>
                        <td>{{comment.updateDate}}</td>

                        <!-- Button toggle Enable -->
                        <td *ngIf="comment.enabled">
                          <button class="btn btn-danger" type="submit"
                            (click)="deleteComment(comment['country'].id, comment.id)">Deactivate</button>
                        </td>
                        <td *ngIf="!comment.enabled">
                          <button class="btn btn-danger" type="submit"
                            (click)="enableComment(comment, comment['country'].id)">Activate</button>
                        </td>


                      </tr>
                    </tbody>
                    <!-- Table Body End -->

                  </table>
                  <!-- Table End -->

                </div>
              </div>
              <!-- Table responsive wrapper End -->
            </div>
          </div>

        </div>
        <!-- Accordion Card End -->

      </div>


    </div>
  </div>
