<div class="mx-auto mb-3"  style="max-width: 500px;">
<div class="card text-center" style="background-color: #EDEDED;"><h1>Voyager's Handbook</h1>
<p class="lead font-italic">Avoid pitfalls in international travel</p><p><a href="">About</a> · <a href="">Log In</a> · <a href="">Register</a></p></div></div>
<!-- <p class="lead">Travel can be a wonderful and life-changing experience.</p>
<p class="lead">But there are some pitfalls that can ruin a trip. </p><p>What are the visa requirements in Tahiti? <br />What about customs requirements in
  Thailand?
</p>
<p class="lead">Voyager's Handbook has got you covered.</p>
 -->

<div class="row">
  <div class="col-4 d-flex mx-auto justify-content-center">
    <a [routerLink]="['/countries']"><h3>Explore Countries</h3></a>
  </div>

  <div class="col-4 d-flex mx-auto justify-content-center">
    <div *ngIf="checkLoggedIn()">
      <a [routerLink]="['/trips']"><h3>Plan a Trip</h3></a>
    </div>

    <div *ngIf="!checkLoggedIn()">
      <a [routerLink]="['/register']"><h3>Plan a Trip</h3></a>
    </div>
  </div>

  <div class="col-4 d-flex mx-auto justify-content-center">
    <a [routerLink]="['/search']"><h3>Search By Country</h3></a>
  </div>
</div>

<div>
  <ngb-carousel class="carouselDiv shadow-none">
    <ng-template ngbSlide *ngFor="let picture of pictures">
      <div
        class="no-border picsum-img-wrapper carouselImageDiv d-flex justify-content-center"
      >
        <img
          style="max-height: 500px"
          class="countryImage"
          [src]="picture.imageUrl"
          alt="..."
        />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<!-- </div> -->
<!--
<h2><a [routerLink]="['/register']">Register now</a> to access:</h2>
<h3>Trip Planner</h3>
<h4 style="color: hotpink">Add screenshots of trip planner</h4>
<br />
<h3>Travel Wishlist</h3>
<h4 style="color: hotpink">Add screenshots of wish list</h4>
<h2><a [routerLink]="['/register']">Register</a></h2> -->
