<hr />
<h1>Comment-List Component</h1>
<h2>Welcome to country #{{ this.countryId }}!</h2>
<h2>Comments</h2>
<!-- ON LOAD/WHEN UPDATE BUTTON NOT YET PUSHED -->
<div *ngFor="let comment of this.comments">
  <div *ngIf="this.comment !== updateComment">
    ID: {{ comment.id }} / {{ comment.content }}<br />
    <!-- Written by: {{ comment.user.firstName }} {{ comment.user.lastName }} -->
     <!-- TODO logic to only show these buttons to this user, or delete button to admin  -->
    <button
        class="btn btn-success btn-sm mr-3"
        (click)="prepareUpdate(comment)"
      >
        Update
      </button>
      <button class="btn btn-danger btn-sm" (click)="delete(comment)">Delete</button>
    <br /><br />
  </div>

  <!-- WHEN UPDATE BUTTON IS PUSHED -->
  <div *ngIf="this.comment === updateComment">
    <h1>In update comment area</h1>
    ID: {{ updateComment.id }}
    <form>
      <textarea
        class="form-control"
        name="updateCommentContent"
        type="text"
        [(ngModel)]="updateComment.content"
      ></textarea>
      <button class="btn btn-success btn-sm" (click)="confirmUpdate()">
        Submit
      </button>
    </form>
    <br />
    <!-- Written by: {{ comment.user.firstName }} {{ comment.user.lastName }} -->
  </div>
</div>
<br />
<h2>Write a Comment</h2>
<form>
  Comment:<br />
  <textarea class="form-control" type="text" name="createContent" [(ngModel)]="createComment.content"></textarea>
  <button class="btn btn-success" (click)="create()">Create</button>
</form>
<div *ngIf="createCommentResult">
  It worked. <br />
  The content is --
  {{ createCommentResult.content }}
  <br />
</div>
<br /><br />

<!-- <form #showForm>
  <input type="text" id="cid" />
  <button (click)="show(showForm)">Submit</button>
</form>
<div *ngIf="showComment">
  {{showComment.id}} {{showComment.content}}
</div-->
