<!-- SideBar / page container -->
<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <!-- SideBar -->
  <mat-drawer #sidenav mode="Over" [(opened)]="opened" >
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <div class="row">
          <div class="col-md-6">
            <span><button class="btn btn-dark" style="margin: 10px 10px;" (click)="toggleTrip()">Trip List</button></span>
          </div>
          <div class="col-md-6">
            <span><button class="btn btn-dark" style="float: right; margin: 10px 10px;"  (click)="toggleWish()">Bucket List</button></span>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush" *ngIf="isTripList">
        <!-- href="#/trips/{{trip.id}}" <-- older method of display, will delete  -->
        <mat-nav-list class="list-group-item list-group-item-action bg-light">
          <!-- test (to undo move this a tag above matNavList and remove mat-list-item  and add back class="list-group-item list-group-item-action bg-light") -->
          <mat-list-item *ngFor="let trip of trips" (click)="displaySingleTrip(trip)" >
            <mat-icon mat-list-icon>airplanemode_active</mat-icon>
            <a >{{trip.name}}</a>
          </mat-list-item>
          <!-- Completed Drop Down -->
          <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
            <span class="full-width" *ngIf="isExpanded || isShowing">Completed Trips</span>
            <mat-icon mat-list-icon>map</mat-icon>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
          </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
              <mat-list-item *ngFor="let trip of completedTrips" (click)="displaySingleTrip(trip)">
                <mat-icon>check_box</mat-icon>
                <a >{{trip.name}}</a>
              </mat-list-item>
            </div>
        </mat-nav-list>
          <!-- ** End Completed Drop Down ** -->
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-dark btn-outline-success" id="createTripFormBtn" style="float: left;" (click)="open(content)">Temp This btn can do anything</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-dark btn-outline-success" id="createTripFormBtn" style="float: right;" (click)="open(content); startTripCreate();">Create a Trip!</button>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="list-group list-group-flush" *ngIf="!isTripList">
        <a (click)="displaySingleTrip(wishlist)" class="list-group-item list-group-item-action bg-light">Bucket List (search countries on country page and click "+" to add)</a>
        <div *ngFor="let ii of wishlist['itineraryItems']">
          <a href="#/countries/{{ii['country']['id']}}" class="list-group-item list-group-item-action bg-light">{{ii['country']['name']}}</a>
        </div>
      </div>
    </div>
  </mat-drawer>
  <!-- ***** End SideBar ***** -->





  <!-- ******* Page Content ***************************************************************** -->
  <mat-drawer-content>
    <button class="btn btn-dark" mat-button (click)="sidenav.toggle()">View Trips</button>
    <!-- Modal -->
    <ng-template #content let-modal >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create a new trip!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Trip Name</label>
            <div class="input-group">
              <input type="text" name="name" id="name" placeholder="Name" [(ngModel)]="newTrip.name">
            </div>
            <label for="">Description</label>
            <div class="input-group">
              <textarea name="description" id="description" placeholder="Describe your trip..." cols="40" rows="5"[(ngModel)]="newTrip.description"></textarea>
            </div>
            <label for="startDate">Start Date</label>
            <div class="input-group">
              <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="startDate" ngbDatepicker #startDate="ngbDatepicker" [(ngModel)]="newTrip.startDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button">Select Date</button>
              </div>
            </div>
            <label for="endDate">End Date</label>
            <div class="input-group">
              <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="endDate" ngbDatepicker #endDate="ngbDatepicker" [(ngModel)]="newTrip.endDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button">Select Date</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); cancelTripCreate();">cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); createTrip();">Save</button>
      </div>
    </ng-template>
    <!-- ** End Modal ** -->


    <!-- Trip single display -->
    <div *ngIf="!selected">
      <h1 style="text-align: center;">Start by selecting or adding a Trip in your Trip List</h1>
    </div>
    <!-- II display -->
    <div *ngIf="selected" class="container">
      <h1 *ngIf="selected.name === 'wishlist'" style="text-align: center;">Bucket List</h1>
      <h1 *ngIf="selected.name !== 'wishlist'"style="text-align: center;">{{selected.name}}</h1>

      <!-- Top Row -->
      <div class="row">
        <!-- itinerary item table -->
        <div class="col-md-7">
          <h1 style="text-align: center;">Countries To Visit</h1>
          <!-- Test table format (divs around table tbody thead) -->
          <table class='table table-bordered table-dark'>
            <thead class="thead-light">
              <tr>
                <th>Order</th>
                <th>Country Name</th>
                <th>Country Description</th>
                <th *ngIf="deleting">Remove Country</th>
              </tr>
            </thead>
            <tbody class="II-list" *ngIf="selected['itineraryItems']" cdkDropList (cdkDropListDropped)="drop($event, selected)">
              <tr *ngFor="let itineraryItem of orderedItineraryItems" cdkDrag (click)="displayCountryAdvice(itineraryItem['country'], itineraryItem)">
                <td class="II-box">{{itineraryItem.sequenceNum}}</td>
                <td>
                  {{itineraryItem["country"].name}}
                </td>
                <td>
                  {{itineraryItem["country"].description}}
                </td>
                <td *ngIf="deleting">
                  <button class="btn btn-danger" (click)="removeItineraryItem(itineraryItem, selected, $event)">X</button>
                </td>
                <img *cdkDragPreview [src]=undefined [alt]="itineraryItem['country'].name">
                <!-- <img *cdkDragPreview [src]="itineraryItem['country'].name" [alt]="itineraryItem['country'].name"> -->
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-dark btn-outline-success" id="createTripFormBtn" style="float: left;" (click)="toggleCompleted(selected)">{{toggleCompleteMsg}}</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-dark btn-outline-success" (click)="displayDelete()" style="float: right;">{{deleteBtnMsg}}</button>
            </div>
          </div>
        </div>
        <!-- ** End itinerary item table ** -->


        <!-- Search Country + Add Country -->
        <div class="col-md-5">
          <div class="backgroundImage mt-0">
            <!-- Search by Keyword -->
            <h1 style="text-align: center;">Add To Your Trip</h1>
            <div class="center-content card mx-auto text-center" style="max-width: 500px">
              <h3 class="mt-3">Search Countries:</h3>
              <form>
                <div class="form-group form-inline col-12" >
                  <input class="ml-3 mr-2 form-control col-9" id="keywordSearch" type="text" name="keyword" [(ngModel)]="keyword"/>
                  <button type="submit" class=" btn btn-success" style="display: none;" (click)="searchCountry()" >Search</button>
                </div>
              </form>
              <h3>Select:</h3>
              <form class="col-12 form-inline mb-3">
                <select class="ml-3 mr-2 col-9 form-control" id="chosenCountrySelect" [(ngModel)]="chosenCountry" name="chosenCountry">
                  <option value="" selected></option>
                  <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
                </select>
                <button *ngIf="chosenCountry" type="submit" class="btn btn-success" (click)="addIItem(chosenCountry, selected)">Add</button>
              </form>
            </div>
            <!-- ** End Search by Keyword ** -->
            <!-- Select Country from list -->
            <div class="mt-3 text-left card mx-auto" style="max-width: 500px" *ngIf="searchResults || noneFound">
              <div class="content-center m-2">
                <div class="searchResults" *ngIf="searchResults">
                  <h3>Results:</h3>
                  <div *ngFor="let country of searchResults">
                    <button class="btn btn-success btn-sm mt-1 mb-1 mr-1" (click)="addIItem(country, selected)">Visit</button>
                    <span id="searchCountryResultSpan">{{ country.name }}</span>
                  </div>
                </div>
                <div *ngIf="noneFound">
                  <h3>No matches found!</h3>
                </div>
              </div>
            </div>
            <!-- ** End Select Country from list End -->
          </div>
        </div>
          <!-- ** End Search Country + Add Country -->
      </div>
      <!-- ** End Top Row -->



      <hr>

      <!-- II display / Second Row -->
      <div class="row">
        <div class="row" *ngIf="selectedCountry">
          <!-- Advice By Country (iItem) -->
          <div class="col-md-6">
            <h1 style="text-align: center;">{{selectedCountry.name}}</h1>
            <table style="width:100%">
              <tr *ngFor="let adviceType of selectedCountry['adviceTypes']">
                <th>{{adviceType.name}}</th>
                <td>{{adviceType.description}}</td>
                <td><a href="{{adviceType.adviceUrl}}">More Info: {{adviceType.name}}</a></td>
              </tr>
            </table>
          </div>
          <!-- ** End Advice By Country (iItem) ** -->

          <!-- Notes on itineraryItems -->
          <div class="col-md-6" *ngIf="selectedII">
            <div class="notes-wrapper">
              <h1>Notes</h1>
              <form action="">
                <textarea class="notes-box" name="notes" id="IINotes" cols="30" rows="10" [(ngModel)]="selectedII.notes">{{selectedII.notes}}</textarea>
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-dark btn-outline-success" (click)="cancelNotes(selected, selectedII, selectedCountry)">Cancel Changes</button>
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-dark btn-outline-success" style="float: right; margin-right: 15px;" (click)="saveNotes(selected)">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- ** End Notes on itineraryItems ** -->
        </div>
      </div>
      <!-- ** End II display / Second Row ** -->
    </div>
    <!-- ** End Trip single display -->
    <hr>

      <!-- MAP SECTION -->
      <div *ngIf="selected">
        <h1 *ngIf="selected.name !== 'wishlist'" class="p-3 text-center mt-2">Your Trip</h1>
        <h1 *ngIf="selected.name === 'wishlist'" class="p-3 text-center mt-2">Your Bucket List</h1>
        <app-chart></app-chart>
      </div>


  </mat-drawer-content>
  <!-- ******* End Page Content ****** -->
</mat-drawer-container>
