/* *********** css tied to sidenav / drop down ******************** */
.example-container {
  padding-top: 10px;
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
/* #createTripFormBtn {
} */

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
  /* display: none;  Adding these displays will make it so the hidden Div doesn't take up space, but ruins the animation*/

 }
.submenu.expanded {
  /* display: block; */
  transform: scaleY(1);
}
/* ******************************* */
/* Page Content CSS matDrawContent */

/* notes box */
.notes-box,.notes-wrapper {
	position: relative;
	padding: 10px;
}
.notes-wrapper {
	width: 500px;
	margin: auto;
	/* margin-top: 50px; */
}
.notes-box {
	width: 80%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.notes-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
/* ** End notes box ** */
/* Test Table Formatting */
table {
  border-collapse: separate;
  border-spacing: 0;
}
#IITableHeader, #adviceTableHeader {

  /* border: 1px solid black; */
  padding-bottom: 0;
  margin-bottom: 0;

}
table, td {
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;
}

/* ** End Test Table Formatting ** */

/* Test DragDrop CSS */
.II-box{
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  color: white;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.II-box:last-child {
  border: none;
}

.II-list.cdk-drop-list-dragging .II-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* ** End Test DragDrop CSS ** */


/* Search Countries / Add */
#searchCountryResultSpan{
  font-weight: bold;
  text-align: center;
  font-size: large;
  margin-left: 25px;
}

.center-content {
  border: 0px;
  background-color:rgb(237,237,237, 0.9);
}
h3{
 text-align: left;
 margin-left: 35px;
 margin-bottom: 0px;
}

/* ** End Search Countries / Add ** */
