<!-- SideBar / page container -->
<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <!-- SideBar -->
  <mat-drawer #sidenav mode="Over" [(opened)]="opened" >
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <div class="row">
          <div class="col-md-6">
            <span><button class="btn btn-dark" style="margin: 10px 10px;" (click)="toggleTrip()">Trip List</button></span>
          </div>
          <div class="col-md-6">
            <span><button class="btn btn-dark" style="float: right; margin: 10px 10px;"  (click)="toggleWish()">Wish List</button></span>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush" *ngIf="isTripList">
        <!-- href="#/trips/{{trip.id}}" <-- older method of display, will delete  -->
        <a *ngFor="let trip of trips" (click)="displaySingleTrip(trip)"  class="list-group-item list-group-item-action bg-light">{{trip.name}}</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Completed Trips</a>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-dark btn-outline-success" id="createTripFormBtn" style="float: left;" (click)="open(content)">Temp This btn can do anything</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-dark btn-outline-success" id="createTripFormBtn" style="float: right;" (click)="open(content); startTripCreate();">Create a Trip!</button>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush" *ngIf="!isTripList">
        <a href="#" class="list-group-item list-group-item-action bg-light">Wish</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
      </div>
    </div>
  </mat-drawer>
  <!-- ***** End SideBar ***** -->
  <!-- ******* Page Content ***************************************************************** -->
  <mat-drawer-content>
    <button class="btn btn-dark" mat-button (click)="sidenav.toggle()">View Trips</button>
    <!-- Modal -->
    <ng-template #content let-modal >
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create a new trip!</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Trip Name</label>
            <div class="input-group">
              <input type="text" name="name" id="name" placeholder="Name" [(ngModel)]="newTrip.name">
            </div>
            <label for="">Description</label>
            <div class="input-group">
              <textarea name="description" id="description" placeholder="Describe your trip..." cols="40" rows="5"[(ngModel)]="newTrip.description"></textarea>
            </div>
            <label for="startDate">Start Date</label>
            <div class="input-group">
              <input id="startDate" class="form-control" placeholder="yyyy-mm-dd" name="startDate" ngbDatepicker #startDate="ngbDatepicker" [(ngModel)]="newTrip.startDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button">Select Date</button>
              </div>
            </div>
            <label for="endDate">End Date</label>
            <div class="input-group">
              <input id="endDate" class="form-control" placeholder="yyyy-mm-dd" name="endDate" ngbDatepicker #endDate="ngbDatepicker" [(ngModel)]="newTrip.endDate">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button">Select Date</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); cancelTripCreate();">cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); createTrip();">Save</button>
      </div>
    </ng-template>
    <!-- ** End Modal ** -->
    <!-- Trip single display -->
    <div *ngIf="!selected">
      <h1 style="text-align: center;">Start by selecting or adding a Trip in your Trip List</h1>
    </div>
    <div *ngIf="selected" class="container">
      <h1 style="text-align: center;">{{selected.name}}</h1>
      <div class="row">
        <!-- itinerary item table -->
        <div class="col-md-6">
          <h1 style="text-align: center;">Countries To Visit</h1>
          <table class='table table-bordered table-dark'>
            <thead class="thead-light">
              <tr>
                <th>Order</th>
                <th>Country Name</th>
                <th>Country Description</th>
                <th *ngIf="deleting">Remove Country</th>
              </tr>
            </thead>
            <tbody *ngIf="selected['itineraryItems']" cdkDropList (cdkDropListDropped)="drop($event, selected)">
              <tr *ngFor="let itineraryItem of orderedItineraryItems" cdkDrag cdkDragLockAxis="y" (click)="displayCountryAdvice(itineraryItem['country'], itineraryItem)">
                <td>{{itineraryItem.sequenceNum}}</td>
                <td>
                  {{itineraryItem["country"].name}}
                </td>
                <td>
                  {{itineraryItem["country"].description}}
                </td>
                <td *ngIf="deleting">
                  <button class="btn btn-danger" (click)="removeItineraryItem(itineraryItem, selected)">X</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-dark" (click)="displayDelete()" style="float: right;">{{deleteBtnMsg}}</button>
        </div>
        <!-- ** End itinerary item table ** -->
        <!-- Advice By Country (iItem) -->
        <div class="col-md-6" *ngIf="selectedCountry">
          <div class="row">
            <h1 style="text-align: center;">{{selectedCountry.name}}</h1>
            <table style="width:100%">
              <tr *ngFor="let adviceType of selectedCountry['adviceTypes']">
                <th>{{adviceType.name}}</th>
                <td>{{adviceType.description}}</td>
                <td><a href="{{adviceType.adviceUrl}}">More Info: {{adviceType.name}}</a></td>
              </tr>
            </table>
          </div>
          <!-- Notes on itineraryItems -->
          <hr>
          <div class="row" *ngIf="selectedII">
            <h1 style="text-align: center;">Notes</h1>
            <form action="">
              <textarea name="notes" id="IINotes" cols="30" rows="10" [(ngModel)]="selectedII.notes">{{selectedII.notes}}</textarea>
              <button (click)="cancelNotes(selected, selectedII, selectedCountry)">Cancel Changes</button>
              <button (click)="saveNotes(selected)">Save</button>
            </form>
          </div>
          <!-- ** End Notes on itineraryItems ** -->
        </div>
        <!-- ** End Advice By Country (iItem) ** -->
      </div>
    </div>
    <!-- ** End Trip single display -->
    <hr>
    <!-- Add Country (iItem) to Trip -->
    <div *ngIf="selected" class="container">
      <div class="row">
        <div class="col-md-12">
          <table>
            <thead>
              <tr>
                <th>Country</th>
                <th>Add To Trip</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries">
                <td>{{country.name}}</td>
                <td><button (click)="addIItem(country, selected)">Add Country to Trip</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Fixes issue where countries extend into footer (but not really...) (better solution should be found) -->
      <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </mat-drawer-content>
  <!-- ******* End Page Content ****** -->
</mat-drawer-container>
