<!-- backgr https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60 -->
<div class="backgroundImage mt-0">


  <div class="center-content card mx-auto text-center" style="max-width: 500px">
    <h3 class="mt-3">Search Countries:</h3>
    <form>
      <div class="form-group form-inline col-12">
        <input
          class="ml-3 form-control col-8 mx-auto"
          type="text"
          name="keyword"
          [(ngModel)]="keyword"
        />
        <button
          type="submit"
          class=" btn btn-success"
          (click)="searchCountry()"
        >
          Search
        </button>
      </div>
    </form>
    <h3>Select:</h3>
    <form class="col-12 form-inline mb-3">
      <select
        class="mx-auto col-8 form-control"
        [(ngModel)]="chosenCountry"
        name="chosenCountry"
      >
        <option value="" selected></option>
        <option *ngFor="let c of countries" [ngValue]="c">{{ c.name }}</option>
      </select>

      <button type="submit" class="btn btn-success" (click)="chooseCountry()">
        Go
      </button>
    </form>
  </div>


  <div class="mt-3 text-left card mx-auto" style="max-width: 500px" *ngIf="searchResults || noneFound">
  <div class="content-center m-2">
    <div class="searchResults" *ngIf="searchResults">
      <h3>Results:</h3>
    <div *ngFor="let country of searchResults">
      <button class="btn btn-success btn-sm mt-1 mb-1 mr-1">Visit</button
      >{{ country.name }}
    </div>
  </div>
  <div *ngIf="noneFound"><h3>No matches found!</h3></div>
</div></div>
</div>
