.backgroundImage {
  background-image: url("https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60") !important;
  min-height: 1000px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left top;
  background-attachment: fixed;
}

.center-content {
  border: 0px;
  background-color: #EDEDED;
}
