/* Position of the Footer */
#page-container {
  position: relative;
  min-height: 100vh;
}
/* Allows room for footer  */
#content-wrap {
  padding-bottom: 75px;    /* Footer height */
}
#footer {
  /* Fixes padding from bootstrap container */
  margin-left: -15px;
  margin-right: -15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Fits footer into allowed space */
  height: 75px;            /* Footer height */

}
/* ** End Position of the Footer ** */



/* TEST THAT WILL APPLY GLOBALLY, REMOVE OR APPROVE */
/* #header {background-color:rgba(255,255,255,0.4);position:relative;} */
/* #main {max-width:100%;width:100%;}
img{height:auto;max-width:100vw;width:100vw;}
#mtnBorder--bottom {background-color:rgba(255,255,255,0.85);display:block;clip-path: polygon(198px 45px, 274px 49px, 339px 23px, 354px 23px, 365px 23px, 462px 53px, 485px 49px, 529px 72px, 590px 50px, 672px 65px, 737px 53px, 779px 55px, 868px 49px, 885px 55px, 952px 41px, 1052px 55px, 1079px 55px, 1164px 72px, 1263px 55px, 1383px 41px, 1421px 28px, 1455px 23px, 1491px 23px, 1538px 15px, 1573px 4px, 1608px 0px, 1670px 23px, 1732px 49px, 1786px 65px, 1872px 55px, 1924px 82px, 2000px 100px, 0px 100px, 129px 72px);height:100px;max-height:100px;margin-bottom:-25rem;position:absolute;width:100vw;z-index:5;transform:translate(1000,50);transform:scale(1,-1);transform:translate(-1000,-50);width:100%;}
#main {margin-bottom:0;}
#footer {border:none;min-height:38vmax;padding-top:5rem;position:relative;} */


/** Clip-Path based Mountains **/
/* #mtn3, #mtnBorder4  {
  background-color:#041E44;height:3.5rem;position:absolute;left:0;margin:0;padding:0;top:-3.5rem;width:100%;}

#footer #mtn3{
  clip-path: polygon(459px 1px, 496px 25px, 533px 25px, 689px 142px, 0px 142px, 224px 50px, 301px 80px);
}

#footer #mtnBorder4 {
  clip-path: polygon(157px 33px, 227px 17px, 296px 35px, 310px 33px, 335px 47px, 377px 33px, 432px 42px, 475px 35px, 501px 35px, 542px 33px, 568px 35px, 610px 25px, 742px 48px, 807px 35px, 884px 28px, 925px 13px, 953px 17px, 986px 13px, 1026px 1px, 1143px 45px, 1200px 35px, 1281px 65px, 0px 65px, 0px 11px);
} */


/* Slash border */
/* .border--slash--TB {clip-path:polygon(0 4%, 100% 0, 100% calc(100% - 75px), 0 100%);}
.border--slash--B {clip-path:polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);} */


/* clip-path Mountains */
/* .clipPath--mtn--T1 {clip-path:polygon(0 2%, 8% 4%, 12% 3%, 15% 4%,18% 2%, 23% 3%, 28% 3%, 32% 5%,35% 3%,39% 5%, 48% 0,50% 1%,53% 1%,58% 5%,64% 3%,69% 4%,73% 5%,78% 4%,80% 5%,83% 3%,86% 2%,88% 3%, 94% 1%, 100% 2%, 100% 100%,0 100%);
}
.clipPath--mtn--TB {
  clip-path:polygon(0 2%, 8% 4%, 12% 3%, 15% 4%,18% 2%, 23% 3%, 28% 3%, 32% 5%,35% 3%,39% 5%, 48% 0,50% 1%,53% 1%,58% 5%,64% 3%,69% 4%,73% 5%,78% 4%,80% 5%,83% 3%,86% 2%,88% 3%, 94% 1%, 100% 2%, 100% 100%,98% 98%, 90% 100%, 88% 98%,83% 100%, 80% 99%,78% 100%,75% 97%,69% 99%,62% 100%,60% 100%,53% 95%,51% 95%,49% 93%,39% 100%,35% 97%,32% 96%,28% 98%,18% 98%,15% 99%,12% 98%,8% 97%,0 100%,0 100%);
}

.clipPath--mtn2--T {clip-path:polygon(0 3.5%, 2% 3%,7.5% 3.5%, 8% 3.7%, 8.5% 4%, 11.5% 3.1%,12% 3%,12.5% 3.1%, 15% 4%,17.7% 2.1%,18% 2%, 19.5% 2.5%,23% 3%, 28% 3%,29% 3.5%, 31% 4%,32% 5%,34.5% 3.2%,35% 3%,36% 3.3%,39% 5%, 48% 0,50% 1%,52.5% 1%,53% 1.1%,58% 5%, 60% 4.7%,63.5% 3%,64% 3.1%,64.5% 3%,65% 3.2%, 66% 3.1%,69% 4%,70% 4.3%,73% 5%,75% 4.6%,77% 4.3%,77.6% 4.1%,78% 4%,79% 4.6%,80% 5%,80.5% 4.8%,83% 3%,85% 3.7%,86% 3.5%,87% 3.7%,88% 3%,93% 3.7%, 94% 2.7%, 95% 3%,96% 2.9%,100% 3.5%, 100% 100%,0 100%);
  padding-top:6rem;
}
.clipPath--mtn2--TB {
  clip-path:polygon(0 3.5%, 2% 3%,7.5% 3.5%, 8% 3.7%, 8.5% 4%, 11.5% 3.1%,12% 3%,12.5% 3.1%, 15% 4%,17.7% 2.1%,18% 2%, 19.5% 2.5%,23% 3%, 28% 3%,29% 3.5%, 31% 4%,32% 5%,34.5% 3.2%,35% 3%,36% 3.3%,39% 5%, 48% 0,50% 1%,52.5% 1%,53% 1.1%,58% 5%, 60% 4.7%,63.5% 3%,64% 3.1%,64.5% 3%,65% 3.2%, 66% 3.1%,69% 4%,70% 4.3%,73% 5%,75% 4.6%,77% 4.3%,77.6% 4.1%,78% 4%,79% 4.6%,80% 5%,80.5% 4.8%,83% 3%,85% 3.7%,86% 3.5%,87% 3.7%,88% 3%,93% 3.7%, 94% 2.7%, 95% 3%,96% 2.9%,100% 3.5%, 100% 100%,98% 98%, 90% 100%, 88% 98%,83% 100%, 80% 99%,78% 100%,75% 97%,69% 99%,62% 100%,60% 100%,53% 95%,51% 95%,49% 93%,39% 100%,35% 97%,32% 96%,28% 98%,18% 98%,15% 99%,12% 98%,8% 97%,0 100%,0 100%);
  display:block;
  overflow:visible;
  position:relative;
  z-index:1;
}
.clipPath--mtn2-1--T {background-color:magenta;clip-path:polygon(0 1.5%, 2% 5%,7.5% 8%, 8% 3.7%, 8.5% 10%, 11.5% 2%,12% 8%,17.7% 3%,18% 2%, 19.5% 2.5%,23% 3%, 28% 3%,29% 3.5%, 31% 4%,32% 5%,34.5% 3.2%,35% 3%,36% 3.3%,39% 5%, 48% 0,50% 1%,52.5% 1%,53% 1.1%,58% 5%, 60% 4.7%,63.5% 3%,64% 3.1%,64.5% 3%,65% 3.2%, 66% 3.1%,69% 4%,70% 4.3%,73% 5%,75% 4.6%,77% 4.3%,77.6% 4.1%,78% 4%,79% 4.6%,80% 5%,80.5% 4.8%,83% 3%,85% 3.7%,86% 3.5%,87% 3.7%,88% 3%,93% 3.7%, 94% 2.7%, 95% 3%,96% 2.9%,100% 3.5%, 100% 100%,0 100%);
  margin-top:-12rem;position:absolute;width:100%;z-index:-1;
} */

/* ** End TEST THAT WILL APPLY GLOBALLY, REMOVE OR APPROVE  */
