<div id="page-container">

  <app-navigation></app-navigation>

  <main class="container-fluid">
    <div id="content-wrap">

      <router-outlet></router-outlet>

    </div>

      <footer id="footer" class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">
        <span id="footer-text"
          >Created By <a href="https://github.com/airjet00">Erik Kell</a>,
          <a href="https://github.com/epaulson08">Eric Paulson</a>,
          <a href="https://github.com/CAS2015">Chelsey Sassine</a>,
          <a href="https://github.com/Thwebel">Thomas Webel</a>
          <span class="afterNames"> | <span class="far fa-copyright"></span> Voyager's Handbook.</span></span></div>
      </footer>

      <!-- IMAGE TEST -->
      <!-- <div>
        <img class="hero clipPath--mtn2--TB" src="assets/images/footerImage.jpg"/>
        <h3 class="pad-5T">Photo courtesy <a href="https://unsplash.com/@jens_johnsson">@jens_johnsson on unsplash.com</a></h3>
      </div> -->

      <!-- FOOTER TEST -->
      <!--
      <footer id="footer" class="text--center text--gold clipPath--mtn2--T pad--5T">
        <h3>Enjoy the Hike!</h3>
      </footer> -->

  </main>

</div>
