<h2>About Voyager's Handbook</h2>

<p class="lead">
  Voyager's Handbook was created by Erik Kell, Eric Paulson, Chelsey Sassine,
  and Thomas Webel as a final project for the
  <a href="http://www.skilldistillery.com">Skill Distillery</a> Java full-stack
  web development bootcamp. Chelsey had the idea for the app after her extensive
  world travels left her with knowledge of some strange requirements that
  certain countries impose on travelers.
</p>
<p class="lead">We hope you enjoy the site and take away some useful tips!</p>

<h4>Nerd Stuff</h4>
<p>Our site was built with the following technologies:</p>
<h5>Front End</h5>
<ul class="list-group">
  <li class="list-group-item">HTML/CSS/Bootstrap</li>
  <li class="list-group-item">Angular</li>
</ul>
<br />
<h5>⬆</h5>
<h5>REST API</h5>
<h5>⬇</h5>
<br />
<h5>Back-End</h5>
<ul class="list-group">
  <li class="list-group-item">Java</li>
  <li class="list-group-item">Spring Framework</li>
  <li class="list-group-item">JPA/Hibernate</li>
  <li class="list-group-item">Gradle</li>
</ul>
<br />
<h5>Methodologies</h5>
<ul class="list-group">
  <li class="list-group-item">Agile</li>
  <li class="list-group-item">Test-Driven Design</li>
  <li class="list-group-item">RESTful Design</li>
  <li class="list-group-item">Remote collaboration with Zoom, Trello, Slack</li>
</ul>
